body{
	background-color: blanchedAlmond;
}

#content{
	width: 800px;
	margin: 0 auto;
	margin-top: 130px;
}

#info{
	text-align: center;
}

p{
	font-size: 40px;
	font-weight: bold;
}

#settings{
	width: 50%;
	height: 50px;
	margin: 50px auto 50px auto;
}

#time-zone{
	width: 400px;
	margin: 0 auto;
	margin-top: 80px;
	text-align: center;
}

.time-up{
	background-color: #D3D3D3;
}

.btn{
	cursor: pointer;
	border-radius: 5px;
	background-color: white;
	border-style: solid;
}

.left{
	float: left;
}

.right{
	float: right;
}

.btn-settings{
	width: 50px;
	height: 30px;
}

#timer{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: white;
	font-size: 30px;
	border-style: solid;
	border: 2px solid black;
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
}

#timer:hover{
	box-shadow: 3px 3px 5px 6px #ccc;
	background-color: #D3D3D3;
}



